$ng-sidenav-menu-width: 240px !default;
$ng-sidenav-content-open-height: 100vh !default;

.sidenav-container {
  .sidenav-menu {
    width: $ng-sidenav-menu-width;
  }

  .mat-sidenav-content {
    height: auto;

    main {
      position: relative;
      display: block;
      padding-bottom: 1200px;
    }
  }

  &.mat-drawer-container-has-open {
    .mat-sidenav-content {
      height: $ng-sidenav-content-open-height;
    }
  }
}

// z-index
$ng-progress-bar-zindex: 1000 !default;
$ng-toolbar-zindex: 200 !default;
$ng-main-zindex: 0 !default;
$ng-carousel-zindex: 100 !default;
:host {
  .ng-progress-bar {
    z-index: $ng-progress-bar-zindex;
  }
  .mat-sidenav-content {
    .ng-toolbar {
      z-index: $ng-toolbar-zindex;
    }

    main {
      z-index: $ng-main-zindex;
      .ng-carousel {
        z-index: $ng-carousel-zindex;
      }
    }
  }
}
