$app-page-content-min-height: calc(100vh - 298px);

@mixin app-image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 240px;
  background-image: url("/assets/images/app-background.jpg");
  padding: 96px 0 0;
}

